

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 <html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Paysees</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <style type="text/css">
	.innerpadding {padding: 30px 30px 30px 30px;}
	.borderbottom {border-bottom: 1px solid #f2eeed;}
	.h2 {padding: 0 0 15px 0; font-size: 15px; line-height: 20px; }
	.bodycopy {font-size: 15px; line-height: 22px;}
  </style>
</head>

<body>
	<tr>
	    <td class="innerpadding borderbottom">
	        <table width="100%" border="0" cellspacing="0" cellpadding="0">
	            <tr>
                   <td class="h2">
	                 <p>You requested that the password for your Paysees account be reset.</p>
		             <p>Please click the link below to reset your password</p>
		             <p><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>

		             <p>Thanks for using our site!</p>

                     <p>The Paysees team</p>
	               </td>
	            </tr>
	            <tr>
	                <td class="bodycopy">
	                   
		 
		<p style="color: red;">
		
		Questions? Comments? Email <b>paysees@gmail.com.</b>
		</p>
	                </td>
	            </tr>
	        </table>
	    </td>
	</tr>
</body>
</html>