{% extends 'base.html' %}
{% block head %} {% endblock %}




{% block body %}
<div class="container">
  <h4><b>Paysees Privacy Policy</b></h4>
     <hr>
  <div class="row">
    <div class="col-md-6">


	 <p>This privacy notice discloses the privacy practices for <b>Paysees</b>. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>
	 <h5><b>Information collected by Paysees</b></h4>
	 <p>In order to use this website, a user must first complete the registration form. During registration a user is required to give certain information (such as name and email address or phone number,country of origin). This information is used to contact you about the products/services you sale. Most information you put on paysees is going to be viewed by the general public including your contact information as it is a way to connect you and your customers</p>
	 <h5><b>Other Information That Is Collected</b></h5>
	 <p><b>Paysees</b> collects information on individuals and companies who want to enter into business relationships with <b>Paysees</b> ('business information').
     We maintain business information for purposes of administering the program, such as maintaining account information, sending payments, etc. We may share business information with third-parties who provide administrative services (and they are required to maintain the confidentiality of the information), as well as law enforcement or government officials as we deem necessary or appropriate.</p>
     <h5><b>Security</b></h5>
     <p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.
     Wherever we collect sensitive information (password and other data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
     While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job such as (customer services) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>
     <h5><b>Contact Us</b></h5>
     <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately <a href="{{url_for('contact')}}">Here</a></p>
	</div>
  </div>
</div>
{% endblock %}