{% extends 'base.html' %}


{% block head %} {% endblock %}


{% block body %}

<div class="container">
 <div class="jumbutron">
  <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
     <h2 class="form-signin-heading"><b>Enter new password</b> </h2>
    <!-- {{ form.hidden_tag() }}-->

     {{ form.csrf_token }}

    <p>
     
          {{form.password1.label}} <br>
          {{ form.password1(size=40) }}<br><br>
          {% for error in form.password1.errors %}
          <span style="color: red;">[{{error}}]</span><br>

          {% endfor %}

          {{ form.password2.label }}<br>
          {{ form.password2(size=40) }}
          {% for error in form.password2.errors %}
          <span style="color: red;">[{{error}}]</span><br>

          {% endfor %}

  </p>

       <button class="btn btn-primary" >Submit</button>
</form><br>

 </div>
</div>

{% endblock %}

